@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf");
}

#root {
  margin: 0 auto;
  font-family: "Roboto", "sans-serif";
  text-align: center;
}

