@import url("/fonts/lato/lato.css");

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf");
}

#root {
  margin: 0 auto;
  font-family: "Roboto", "sans-serif";
  text-align: center;
}

.visually-hidden-radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
}

.rounded-button-style {
  display: flex;
  border: none;
  padding: 11px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  background: #146C43;

  color: #FFF;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14px */
}

.rounded-textbox {
  border: 1px solid #ccc; 
  border-radius: 20px; 
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-size: .9em;
  outline: none; 
}

.rounded-textbox:focus {
  border-color: #007bff; 
}

.custom-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 1px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  position: relative; 
  margin-top: 3px;
}

.custom-checkbox:checked::after {
  content: "✔";
  font-size: 12px;
  color: #000;
  position: absolute;
  top: 0;
  left: 2px; 
  text-align: center; 
  line-height: 14px;
}

