// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

h1 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body {
  background-color: #f8fdf1;
}

.form-control::placeholder {
  color: #ADB5BD;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}